@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-info" role="alert">

  <h4 class="alert-heading">Bienvenido a esta empresa</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>

        
    <div>
         <h2>Chatea con nosotros   @Html.ActionLink("Chatear", "Create", "Request",null,new {@class = "btn btn-outline-success"})</h2>
    </div>
